<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Section4 Todo管理</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <!-- submitイベントを無効化 -->
    <form v-on:submit.prevent>
      <h2>Todo List</h2>
      <input type="text" v-model="newItem">
      <button v-on:click="addItem">追加</button>
    </form>
    <ul>
      <li v-for="(todo, index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
        <button v-on:click="deleteItem(index)">削除</button>
      </li>
    </ul>
    <pre>{{ $data }}</pre>
  </div>

  <script src="https://unpkg.com/vue@3.2.22"></script>
  <script src="js/main.js"></script>
</body>
</html>